.banks-div {
  position: relative;
  background-image: url("../img/geowave_w_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px;
}

.banks-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(25%, max(100px, 14.2857142857%))));
  row-gap: 40px;
}
.banks-content img {
  margin: auto auto;
  height: 60px;
}